<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="BusSettings.Uri" value="rabbitmq://dataingresshl7msgqdv.nthrive.com/BDC/" />
    <add key="BusSettings.IncomingQueue" value="" />
    <add key="BusSettings.Username" value="bc" />
    <add key="BusSettings.Password" value="bc" />
    <add key="BusSettings.HeartBeatInSeconds" value="4" />
  </appSettings>
</configuration>